.Box{
    position: relative;
    margin: 1rem;
    border: 2px groove black;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.7);
}

.Box button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 20px;
}